.footer {
    background:linear-gradient(120deg, #08122A 0%, #0B2B4A 50%, #234E92 100%);
    color: white;
    padding: 50px 0;
    /* height: ; */
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-6 {
    padding: 0 15px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  